# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
*.cache
# but keep track of directories ending in .cache
!?*.[Cc]ache/